/*
   Media
   ========================================================================== */
/* Responsive images. Fluid images for posts, comments, and widgets */
.comment-content img, .entry-content img, .entry-summary img, .widget img, .wp-caption {
    max-width: 100%;
}

/**
 * Make sure images with WordPress-added height and width attributes are
 * scaled correctly.
 */
.comment-content img[height], .entry-content img, .entry-summary img {
    height: auto;
}

img {
    &[class*="align"], &[class*="wp-image-"], &[class*="attachment-"] {
        height: auto;
    }
    &.size-full, &.size-large {
        height: auto;
        max-width: 100%;
    }
}

.wp-post-image, .post-thumbnail img {
    height: auto;
    max-width: 100%;
}

/* Make sure embeds and iframes fit their containers */
embed, iframe, object, video {
    margin-bottom: 24px;
    max-width: 100%;
}

p > {
    embed, iframe, object {
        margin-bottom: 0;
    }
}

span > {
    embed, iframe, object {
        margin-bottom: 0;
    }
}