/*
   Navigation
   ========================================================================== */
.site-main [class*="navigation"] {
    margin: 0 0 rem-calc(30);
    @include clearfix;
}

[class*="navigation"] {
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}