/*
   Navigation
   ========================================================================== */
.site-main [class*="navigation"] {
	margin: rem-calc(60 0);
	// overflow: hidden;
}
.nav-links {
	a {
		font-size: rem-calc(13);
	}
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}